.synonym-dictionary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row dense;
  height: 100vh;
  grid-gap: 0.5rem;
  overflow-y: hidden;

  &_content {
    overflow-y: auto;
  }
}
